<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.amorebackend.mapper.UserMapper">

    <select id="findByEmail" resultType="com.amorebackend.entity.User">
        SELECT * FROM user WHERE email = #{email}
    </select>

    <select id="findByUsername" resultType="com.amorebackend.entity.User">
        SELECT * FROM user WHERE username = #{username}
    </select>

    <insert id="insert" parameterType="com.amorebackend.entity.User">
        INSERT INTO user(uid, username, email, password, create_time)
        VALUES(#{uid}, #{username}, #{email}, #{password}, #{createTime})
    </insert>

    <update id="updatePasswordByUsername" parameterType="com.amorebackend.entity.User">
        UPDATE user
        SET password = #{password}
        WHERE email = #{email}
    </update>

</mapper>
